/*=========================
         Header Styles
  =========================*/
header{
   background: #8A2BE2;
   padding: 10px;
}
header h1{
   margin:0;
   color: #3C0470;
}
header .tagline{
   font-style: italic;
   color: #A468D5;
}

/*=========================
         Table Styles
  =========================*/
table{
   width:100%;
}
td, th{
   margin: 0;
   padding: 6px 10px 2px 10px;
   height: 18px;
   border: 1px solid #CBCBCB;
   border-bottom: 1px solid #B9B8B6;
}

th.date, th.interactionType {
  width: 30%;
}

select#campaigns {
  width: 300px;
}

th{
   font-weight: bold;
   color: #3A3A3A;
   text-align: left;

   /* Safari 4-5, Chrome 1-9 */
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#dbdbdc));

   /* Safari 5.1, Chrome 10+ */
   background: -webkit-linear-gradient(top, #FFFFFF, #dbdbdc);

   /* Firefox 3.6+ */
   background: -moz-linear-gradient(top, #FFFFFF, #dbdbdc);

   /* IE 10 */
   background: -ms-linear-gradient(top, #FFFFFF, #dbdbdc);

   /* Opera 11.10+ */
   background: -o-linear-gradient(top, #FFFFFF, #dbdbdc);
   -moz-user-select: none;
   -khtml-user-select: none;
   cursor: pointer;
}
select{
  float: right;
}
